.sm-only {
    display: none;
}

/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {


}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .sm-only {
        display: block;
    }
}


/* small mobile :320px. */
@media (max-width: 767px) {
    .app-btn {
        display: block;
    }
    .sm-only {
        display: block;
    }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width:450px
    }
    .app-btn {
        display: block;
    }

}
